<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    [matMenuTriggerFor]="menu"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/carousel">
    <mat-icon>view_carousel</mat-icon>
    <span>Swiper Demo</span>
  </button>
  <button mat-menu-item routerLink="/chart">
    <mat-icon>bar_chart</mat-icon>
    <span>Apex Charts Demo</span>
  </button>
</mat-menu>

<router-outlet></router-outlet>
